html{
    height: 100%;
}

body{
    background-color: hsl(0, 0%, 8%);
    font-family: "Inter", sans-serif;
    height: 70%;
}

.container{
    display: flex;
    border-radius: 5px;
    background-color: hsl(0, 0%, 12%);
    margin: 5% 35% 5% 35%;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
}

.content{
    margin: 8%;
}

.profile{
    width: 25%;
    border-radius: 50%;
    margin-bottom: 5px;
}

.name{
    color: hsl(0, 0%, 100%);
    margin-bottom: 2px;
    font-size: 98%;
}

.ubication{
    color: hsl(75, 94%, 57%);
    font-weight: normal;
    margin-top: 0px;
    font-size: 80%;
}

.description{
    color: hsl(0, 0%, 100%);
    font-size: 70%;
}

.buttoms{
    color: hsl(0, 0%, 100%);
    display: block;
    border-radius: 5px;
    background-color: hsl(0, 0%, 20%);
    margin-top: 5%;
    text-decoration: none;
    padding: 3%;
    font-size: 70%;
}

.buttoms:hover{
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

@media screen and (max-width: 431px) and (min-width: 200px){
    html{
        height: 40%;
    }

    body {
        font-size: 14px;
        height: 100%;
    }

    .container{
        margin: 10% 10% 0% 10%;
    }

}